@font-face {
    font-family: 'Bebas Neue';
    src: url(./fonts/BebasNeue-Regular.ttf);
}

@font-face {
    font-family: 'Rubik';
    src: url(./fonts/Rubik-VariableFont_wght.ttf);
}

@keyframes fade-in {
    from {width:0;}
    to {width: 20px;}
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: black;
}

#navbar{
    display: flex;
    width: 100%;
    background-color: rgb(25, 22, 42);
    margin:0;
    font-family: 'Rubik';
}

#navbar > a{
    color: white;
    padding: 18px;
    text-decoration: none;
    font-size: 24px;
}

#navbar > a:hover{
    background-color: rgb(35, 30, 60);
}

#navbar > a:nth-child(2){
    margin-left:auto;
}

#main-link{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

footer{
    background-color: #16161d;
    padding: 8px;
    text-align: center;
    margin-top: auto;
    color:white;
    font-family: 'Rubik', sans-serif;
}